.mainUser {
  background-size: 100% 100%;
  position: absolute;
  width: 543px;
  height: 546px;
  left: 1694px;
  top: 728px;
}

.one {
  background-image: url("C:\Users\mriga\Frontend stuff\React\Mentro-Assignment\src\images\Prankur.svg");
}
.two {
  background-image: url("C:\Users\mriga\Frontend stuff\React\Mentro-Assignment\src\images\Sourav.svg");
}
.three {
  background-image: url("C:\Users\mriga\Frontend stuff\React\Mentro-Assignment\src\images\Saumya.svg");
}
.four {
  background-image: url("C:\Users\mriga\Frontend stuff\React\Mentro-Assignment\src\images\Keshav.svg");
}
.five {
  background-image: url("C:\Users\mriga\Frontend stuff\React\Mentro-Assignment\src\images\Ankita.svg");
}

.userName {
  position: absolute;
  width: 693px;
  height: 180px;
  background: rgba(0, 162, 7, 0.17);
  border-radius: 40px;
  left: 1620px;
  top: 1365px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  font-size: 64px;
  line-height: 96px;
  letter-spacing: 0.015em;
  color: #000000;
  margin: auto;
}
